[
  {rabbit, [
	  {tcp_listeners, [{"10.5.0.5", 5672}]},
		{log_levels, [{connection, error}]},
		{default_vhost,       <<"/">>},
		{default_user,        <<"rabbitmq">>},
		{default_pass,        <<"rabbitmq">>},
		{default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
		{heartbeat, 60},
		{frame_max, 1048576}
		]}
].